<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Tests.master.cs" Inherits="Students_Tests_Tests" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <%--Bootstrap and Site CSS--%>

    <%-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>--%>

<link href="~/Content/bootstrap.css" rel="stylesheet"/>
<link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

   
    <%--BootStrap and JQuery Links--%>
  <%--  <script src="../../Scripts/jquery-3.1.1.intellisense.js"></script>--%>
 <%--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>--%>
    <script src="../../Scripts/jquery-3.1.1.js"></script>
    <script src="../../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <%--<script src="../../Scripts/bootstrap.min.js"></script>--%>
    <script src="../../Scripts/jquery.min.js"></script>
    <script src="../../Scripts/moment.js"></script>
    <script src="../../Scripts/bootstrap-datetimepicker.min.js"></script>
    


    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
       <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigationa</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">C<sub>s</sub>P</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="../Students_Default.aspx">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About US <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Background</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Customer Care</a></li>

                            </ul>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <%--    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>--%>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" style="right: 10px;"><span class="glyphicon glyphicon-user"></span>&nbsp User Name </a></li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- /.container-fluid -->
            </nav>

     <div class="jumbotron">

                <div class="row">
                    <div class="col-md-2">
                    </div>
                    
                    <div class="col-md-8">
                        
                        <asp:ContentPlaceHolder id="PaperHeader" runat="server"><h1 runat="server" class="page-header text-center">Cosmo-Schools Platform <small><asp:ContentPlaceHolder ID="SchoolSmall" runat="server">Students</asp:ContentPlaceHolder></small></h1>
                            </asp:ContentPlaceHolder>

                       <%-- <ul class="nav navbar navbar-right navbar-nav">
                            <li><a href="#"><span class="glyphicon glyphicon-envelope">&nbsp</span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-exclamation-sign"></span></a></li>
                        </ul>--%>


                    </div>
                    <div class="col-md-2">
                        <div class="dropdown">
                            <a href="#" class="btn-link btn-block dropdown-toggle" data-toggle="dropdown">
                              <%--  <img class="img-circle pull-right profileimg" src="../Users/Unknown_Person.png" style="position: relative; height: 100px; width: auto; top: 50px;" />--%>
                            </a>
                            <ul class="dropdown-menu dropdown-toggle" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                

            </div>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>

    <div>
        <asp:ContentPlaceHolder id="body" runat="server">
            
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
